:root {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --input-font-size: 14px;
  --button-font-size: 16px;
  --button-padding: 8px 12px;
  --button-border-radius: 4px;
  --button-transition: background-color 0.3s ease;
}

body,
textarea,
input,
button,
button[id$="Button"],
label,
footer {
  font-family: var(--font-family);
}

body {
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading,
#multisigSection,
#elementsBelowXpub,
#xpubRadioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonHolder {
  display: flex;
  flex: space-between;
}

textarea,
input {
  font-size: var(--input-font-size);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button,
button[id$="Button"] {
  font-size: var(--button-font-size);
  background-color: #4caf50;
  color: white;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: var(--button-transition);
  width: fit-content;
}

button:hover,
button[id$="Button"]:hover {
  background-color: #45a049;
}

button:focus,
button[id$="Button"]:focus {
  outline: none;
}

button:active,
button[id$="Button"]:active {
  background-color: #388e3c;
}

#elementsBelowXpub,
#importDescriptorButton {
  display: none;
  width: 100%;
  max-width: 45ch;
}

#buttonHolder {
  display: flex;
  justify-content: space-between;
  /*! max-width: 50ch; */
  /*! width: 100%; */
  /*! padding: 2ch; */
}

#copyNotification {
  display: none;
}

#copyButton {
  display: inline-block;
}

#buttonHolder button {
  /*! margin-right: 2ch; */
}

#messageInputContainer,
#signatureInputContainer {
  width: 100%;
}

#messageInput,
#signatureInput {
  width: 75%;
}

#validationResult {
  margin-top: 20px;
  font-size: var(--button-font-size);
  font-weight: bold;
  color: #e74c3c;
}

#importDescriptorContainer,
#xpubRadioContainer {
  margin-top: 20px;
}

#derivationPathResult {
  display: block;
  margin: auto;
  width: 90%;
}

#uploadContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#fileInput {
  display: none;
}

#uploadContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#uploadButton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#uploadButton:hover {
  background-color: #2980b9;
}

#uploadButton:focus {
  outline: none;
}

#uploadButton:active {
  background-color: #1f618d;
}

#fileName {
  margin-left: 10px;
  color: #555;
}

input[type="radio"] {
  display: none;
}

#xpubRadioContainer label {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #6ab04c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--button-transition);
}

#xpubRadioContainer label:hover {
  background-color: #4d8c3c;
}

#xpubRadioContainer input[type="radio"]:checked + label {
  background-color: #3d6e2e;
  border: 2px solid #e74c3c;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  margin: 5px;
}

footer a {
  color: #3498db;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#qr-code-img {
  opacity: 0;
  visibility: hidden;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  position: fixed; /* Position the image fixed on the viewport */
  top: 0; /* Position at the top of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally using transform */
  transition: opacity 0.3s ease;
}

#donationLink:hover ~ #qr-code-img {
  opacity: 1;
  visibility: visible;
}
