body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading,
#multisigSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

textarea,
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px; /* Adjust the font size as needed */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust the font size as needed */
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #388e3c;
}

#elementsBelowXpub {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 45ch;
}

#buttonHolder {
  display: flex;
  justify-content: flex-start;
  max-width: 50ch;
  width: 100%;
}

#buttonHolder button {
  margin-right: 2ch;
}

#validationResult {
  margin-top: 20px;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #e74c3c;
}

#importDescriptorContainer {
  margin-top: 20px;
}

#derivationPathResult {
  display: block;
  margin: auto;
  width: 90%;
}

#importDescriptorButton {
  display: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#importDescriptorButton:hover {
  background-color: #2980b9;
}

#importDescriptorButton:focus {
  outline: none;
}

#importDescriptorButton:active {
  background-color: #1f618d;
}

#uploadContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#uploadButton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#uploadButton:hover {
  background-color: #2980b9;
}

#uploadButton:focus {
  outline: none;
}

#uploadButton:active {
  background-color: #1f618d;
}

#fileInput {
  display: none;
}

#fileName {
  margin-left: 10px;
  color: #555;
}

input[type="radio"] {
  display: none;
}

#xpubRadioContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 45ch;
}

#xpubRadioContainer label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #6ab04c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#xpubRadioContainer label:hover {
  background-color: #4d8c3c;
}

#xpubRadioContainer input[type="radio"]:checked + label {
  background-color: #3d6e2e;
  border: 2px solid #e74c3c;
}
